<?xml version='1.0' encoding='utf-8'?>
<plugin id="c2-cordova-plist-fix-plugin" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>C2CordovaPlistFix</name>
	<js-module name="C2CordovaPlistFix" src="www/C2CordovaPlistFix.js">
		<clobbers target="cordova.plugins.C2CordovaPlistFix" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="C2CordovaPlistFix">
				<param name="ios-package" value="C2CordovaPlistFix" />
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
			<string>Advertising</string>
		</config-file>
		<source-file src="src/ios/C2CordovaPlistFix.m" />
	</platform>
</plugin>